<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.aylanetworks.aura"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Besides some of the permissions above, Baidu push service needs permissions below -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <!-- Starting from Baidu_push SDK 5.1 Required for compatible with Android N -->
    <uses-permission android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.${applicationId}" />
    <permission
        android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.${applicationId}"
        android:protectionLevel="normal">
    </permission>

    <application
        android:name="com.aylanetworks.aura.AuraApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- This receiver extends FrontiaPushMessageReceiver directly. -->
        <receiver android:name="com.aylanetworks.aura.BaiduPushMessageReceiver" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>


        <!-- For receiving system message to make sure Baidu PushService run as expected -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdserivce_v1" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />

                <!-- Below are optinal actions, for maintaining service alive and increasing msg coming speed -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Starting from Baidu_push SDK 4.0 add one more intent-filter action -->
        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>

        <!-- Optional: Starting from Baidu_push SDK 4.6.2 to keep alive -->
        <activity
            android:launchMode="singleInstance"
            android:name="com.baidu.android.pushservice.PushKeepAlive"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <!-- Starting from Baidu_push SDK 4.4 add one more commandService -->
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />
        <!-- Starting from Baidu_push SDK 5.1 Required for compatible with Android N-->
        <provider
            android:name="com.baidu.android.pushservice.PushInfoProvider"
            android:authorities="${applicationId}.bdpush"
            android:writePermission="baidu.push.permission.WRITE_PUSHINFOPROVIDER.${applicationId}"
            android:exported="true" />

        <!-- One of the easiest way to define Baidu_push API_KEY -->
        <!-- <meta-data -->
        <!-- android:name="api_key" -->
        <!-- android:value="Insert your own API_KEY here from your Baidu Developer Console"/> -->
        <meta-data
            android:name="api_key"
            android:value="uuzLB7oD6FbjNgQB0drpZVjE" />

    </application>

</manifest>
